body{
	background-color: #000;
	color: #fff;
	font-family: 'Open Sans', sans-serif;
}

#time{
	font-size: 100px;
	font-weight: normal;
	font-family: 'Roboto', sans-serif;
}

#date{
	font-size: 30px;
	font-weight: normal;
}

#weatherTable{
	float: right;
}

td{
	padding: 5px;
	min-width: 80px;
}

#temperature{
	font-size: 100px;
	font-weight: normal;
	font-family: 'Roboto', sans-serif;
}

#temperatureHigh{
	/* color: #419641; */
	vertical-align: bottom;
	font-size: 22px;
}

#temperatureLow{
	/* color:#c12e2a; */
	vertical-align: top;
	font-size: 22px;
}

#weatherIcon{
	font-size: 100px;
	text-align: right;
}

#sunrise, #sunset{
	font-size: 30px;
	text-align: right;
	font-family: 'Roboto', sans-serif;
}

#location{
	font-size: 30px;
	text-align: right;
}

.footer{
	position: absolute;
	bottom: 0;
	padding: 15px;
	text-align: center;
	width: 100%;
	font-size: 30px;
}

#top-light, #bottom-light, #left-light, #right-light{
	display: none;
	background: #fff;
	position: fixed;
}
#left-light, #right-light{
	top: 0; bottom: 0;
	width: 200px;
}
#left-light{ 
	left: 0; 
}
#right-light{
	right: 0;
}

#top-light, #bottom-light{
	left: 0; right: 0;
	height: 200px;
}
#top-light{
	top: 0;
}
#bottom-light{
	bottom: 0;
}